*.class
*.xml
*.iml
Offline-03-Structural-Design-Patterns/CalculateSum/.idea/
Offline-03-Structural-Design-Patterns/PizzaShop/.idea/
Intellij-Project/
Offline-04-Behavioral-Design-Patterns/Socket-Programming-Materials/.idea/
Offline-04-Behavioral-Design-Patterns/Stock-Trading-Platform/.idea/
Offline-04-Behavioral-Design-Patterns/Mediator-of-Johannesburg/.idea/
